/* CSS Reset / Boilerplate */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #333;
  width: 100%;
  height: 100%;
}
.parent{
  height: 100vh;
  width:100%;
  background-color: black;
  padding: 30px;
  display: flex;
  gap: 30px;
}
.card{
  width:280px;
  height: 330px;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  display:flex ;
  flex-direction: column;
  justify-content: space-between;
  
} 
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 11px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}
.center h3{
  font-size: 17px;
  font-weight: 600;
}
.center h3 span{
    font-size: 9px;
    font-weight: 500;
    color: #b1b1b1;
}
.center h2{
  font-size: 20px;
  font-weight: 600;

}
.center .tag{
  display:flex;
  gap: 15px;
  margin-top: 10px;
  
}
.center .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color: black;
  font-weight: 400;
  padding: 3px 8px;
  border-radius: 5px;

}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid oklab(88.779% 0.00735 0.00219);
  padding-top:15px ;
}
.bottom button{
  background-color: black;
  color: white;
  padding:5px 10px;
  border:none;
  border-radius: 5px;
  column-width: 600;
}
.bottom h3{
  font-size: 17px;

}
.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}
